.Navbar{
    padding: 0;
    margin: 0;
}
.navbar{
    border:solid 5px rgba(78, 175, 210, 0.103);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 87px;
}

.background_img {
    background-image: url('/src/Images/Background12.jpg');
     height: 100%;
    width: 99vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    
}

.nav-item .nav-link:hover{
    color: orange;
}

.login{
    background-image: linear-gradient(to right, orange , rgb(238, 24, 59));
    padding: 0.4rem 2.6rem 0.4rem 2.6rem;
    color: white;
}

.mobile{
    outline: none;
    border-width: 1px;
    border-radius: 6px;
    /* border: 1px solid rgb(232, 218, 218); */
    padding-right: 210px;
    border: solid 2px rgb(179, 175, 175);
}

.registerform{
    background-color: rgba(0, 0, 0, 0.473);
    /* height: 70vh; */
    width: 38vw;
    padding: 1rem;
    border-radius: 1rem;
    border:solid 3px rgba(182, 44, 44, 0.71);
    position: absolute;
    left: 46rem;
    top: 10rem;
}

.formheading{
    font-size: 27.5px;
}

.h3{
    color: aliceblue;
}

.register{
    background-image: linear-gradient(to right, orange , rgb(238, 24, 59));
   
}

.form-select, .form-control{
   border: solid 2px rgb(179, 175, 175);
}

.banner2{
    background-image: linear-gradient(to bottom, rgb(223, 124, 12) , rgb(220, 39, 70));
}

.main{
   display: flex;  
}

.main1{
    height: 475px;
    width: 50%;
    text-align:left;
    padding-left: 30px;
    color: white;
   
}

.main2{
    height: 475px;
    width: 50%;
    margin-left: 55px;
   
}

.main2nd{
    display: flex; 
    justify-content: space-around;
}

.img1{
    height: 170px;
    border-radius:50%;
    margin-left: 40px;
    margin-top: 27px;
}

.para{
    font-size: 22px;
}

.main2{
    color: white;
    text-align:left;
}

.banner_text{
    font-size: 20px;
}

.trustdiv{
    font-size: 24px;
}

.know_more{
    padding: 13px 13px 13px 13px;
    background-color: rgba(16, 16, 20, 0.674);
    color: white;
    position: relative;
    bottom: 55px;
    text-align: center;
}

.banner3{
    background-color: rgba(0, 0, 0, 0.639);
    padding: 2rem 5rem;
}

.part1{
 
    height: 85vh;
    /* width: 50%; */
    text-align:left;
    /* margin-left: 35px; */
    color: white; 
}

/* .part2{

    height: 570px;
    width: 50%;
    text-align:left;
    padding-left: 30px;
    color: white;
} */

.btn_part1{
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.934) , rgba(238, 24, 60, 0.888));
    padding: 10px 20px 10px 20px;
    border: 0;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.838);
    font-size: 17px;
    margin-bottom: 9px;
/*     
    visibility: visible;
    animation-duration: 1.5s;
    animation-name: bounceInRight; */

}

.btn_animation{

    /* visibility: visible;
    animation-duration: 1.5s;
    animation-name: bounceInRight; */
   
    position: relative;
    animation-name: bounceInRight;
    animation-duration: 3s;
    /* margin-left: 100%; */
    visibility: visible;

}

@keyframes bounceInRight{
    /* 0%  {right:0px; }
    25% {right:100%;} */
    /* 100% {left: 70px;} */
    0%   { right: 0px; }
    25%  { left: 950px;}
    /* 50%  { left: 200px; }
    75%  { left: 0px; } */
    100% { left: 0px; }
}

.turn{
    background-color: rgb(218, 210, 210);
    display: flex;
}


.part1heading{
    padding: 23px 0 10px 0;
}
/* .tick{
    
} */

.part_para{
    margin-top: 20px;
}

.imgstore{
    text-align: left;
    position: relative;
    top: 1rem;
    /* margin-left: 30px; */
    /* justify-content: 50px; */
}

.banner3-carousel img {
    border-radius: 1.5rem;
    width: 15rem;
    height: 30rem;
}

.appstore{
    margin-left: 20px;
}

.turn1, .turn2{
    height: 650px;
    width: 50%;
    text-align:left;
    padding-left: 30px;
    display: flex;
}



.B4img1{
    height: 280px;
    width: 280px;
    border-top-left-radius: 15px;
    margin: 43px 4px 4px 0;
   
}
.B4img2{
    height: 280px;
    width: 280px;
    margin-right: 4px;
    border-bottom-left-radius: 15px;
    
   
}
.B4img3{
    height: 280px;
    width: 280px;
    margin: 43px 0px 4px 0px;
    border-top-right-radius: 15px;
   
}
.B4img4{
    height: 280px;
    width: 280px;
    border-bottom-right-radius: 15px;
}

.B4row{
    display: block;
}

.b4para{
    margin-top: 43px;
    margin-bottom: 22px;
    justify-content: left;
}
#tick{
    font-size: 17px;
    
}
#icon{
    color: rgb(21, 134, 162);
    font-size: 19px;
}

.banner6{
   
    height: 550px;
    width: 100%;
    background-color: white;

}
.B6heading{
    padding: 25px 0 25px 0;
}
.couple{
    display: flex;
}
.couple1,.couple2,.couple3{
    height: 380px;
    width: 30%;
    background-color: white;
    margin-right: 10px;
    margin-left: 25px;
    box-shadow: 0px 1px 20px 4px #aaaaaa;
    border-radius: 13px;
}

.pic{
    display: flex;
    height: 179.46px;
    width: 182.46;
   
}
.pic1 {
    margin-left: 54px;
    margin-right: 8px;
    margin-top: 30px;
    box-shadow: 0px 1px 20px 4px #aaaaaa;
    border-radius: 13px;
    margin-bottom: 17px;
}
.pic2{
    margin-top: 30px;
    margin-bottom: 17px;
    box-shadow: 0px 1px 20px 4px #aaaaaa;
    border-radius: 13px;
}
.readmore{
    color: orange;
    text-decoration: none;
}
.B6para2{
    /* text-align: center; */
    padding-left: 65px;
    padding-right: 45px;
}

.banner7{
    height: 350px;
    width: 100%;
    background-color: white;
}
.b7head{
    padding-bottom:20px ;
}
.b7img{
    /* display: flex; */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    /* margin: 30px; */
}